WebKataban/Service References/WsJuchuEDI/ServiceDBIO3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CKD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CKD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExceptionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionInfo" nillable="true" type="tns:ExceptionInfo" />
  <xs:element name="DSTJuchu.T_JUCHUDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DSTJuchu.T_JUCHUDataTable" Namespace="http://schemas.datacontract.org/2004/07/CKD" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DSTJuchu.xsd" name="namespace" />
      <xs:attribute fixed="T_JUCHUDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="DstChumonCnt.DT_CHUMON_CNT_LISTDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="DstChumonCnt.DT_CHUMON_CNT_LISTDataTable" Namespace="http://schemas.datacontract.org/2004/07/CKD" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/DstChumonCnt.xsd" name="namespace" />
      <xs:attribute fixed="DT_CHUMON_CNT_LISTDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>