WebKataban/Web References/WSKatahikirenkei/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetStandardNoki">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strKata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPlaceID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStandardNokiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStandardNokiResult" type="tns:StandardNoki" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="StandardNoki">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="fullKataban" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stdDate" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="stdDateDisp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="quantityDisp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="zaikoFlg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrMsg" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStandardNokiSoapIn">
    <wsdl:part name="parameters" element="tns:GetStandardNoki" />
  </wsdl:message>
  <wsdl:message name="GetStandardNokiSoapOut">
    <wsdl:part name="parameters" element="tns:GetStandardNokiResponse" />
  </wsdl:message>
  <wsdl:portType name="WSKatahikiRenkeiSoap">
    <wsdl:operation name="GetStandardNoki">
      <wsdl:input message="tns:GetStandardNokiSoapIn" />
      <wsdl:output message="tns:GetStandardNokiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSKatahikiRenkeiSoap" type="tns:WSKatahikiRenkeiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStandardNoki">
      <soap:operation soapAction="http://tempuri.org/GetStandardNoki" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSKatahikiRenkeiSoap12" type="tns:WSKatahikiRenkeiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStandardNoki">
      <soap12:operation soapAction="http://tempuri.org/GetStandardNoki" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSKatahikiRenkei">
    <wsdl:port name="WSKatahikiRenkeiSoap" binding="tns:WSKatahikiRenkeiSoap">
      <soap:address location="http://localhost/wskatahikirenkei/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="WSKatahikiRenkeiSoap12" binding="tns:WSKatahikiRenkeiSoap12">
      <soap12:address location="http://localhost/wskatahikirenkei/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>